.nextui-pagination {
	font-size: 36px !important;

	@media screen and (max-width: 700px) {
		font-size: 24px !important;
	}

	button {
		background: transparent;
		color: #FFB876;
		font-weight: 500 !important;

		&:hover {
			background: none;
		}

		&.nextui-pagination-item-active {

			span {
				color: #EB2A00;
			}

			box-shadow: none;
		}
	}

	.nextui-pagination-highlight {
		background: transparent;
	}

	.nextui-pagination-icon {
		width: 36px !important;
		height: 36px !important;
		color: #EB2A00;
	}
}
