@import './colors';

.title {
	line-height: clamp(2rem, 4vw + 1rem, 65px);

	span {
		&:nth-child(1) {
			color: $color_secondary;
			font-weight: 400;
			font-size: clamp(2rem, 4vw + 1rem, 65px);
		}

		&:nth-child(3) {
			color: $color_red;
			font-family: 'Bitter';
			font-weight: bold;
			font-style: italic;
			font-size: clamp(1rem, 4vw + 1.1rem, 70px);
		}
	}
}

.heading {
	line-height: 44px;
	z-index: 1;

	span {
		&:nth-child(1) {
			font-size: 48px;
			color: $color_secondary;

			@media screen and (max-width: 700px) {
				font-size: 30px;
			}
		}

		&:nth-child(3) {
			font-size: 60px;
			font-style: italic;
			color: $color_red;

			@media screen and (max-width: 700px) {
				font-size: 36px;
			}
		}
	}
}

.subheading {
	font-family: Manrope;
	color: $color_grey !important;
	font-size: 32px;
	z-index: 200;

	@media screen and (max-width: 700px) {
		font-size: 24px;
	}
}

.nextui-navbar-container {
	background-color: rgba(255, 205, 169, .7) !important;
	backdrop-filter: blur(4px) !important;
	-webkit-backdrop-filter: blur(4px) !important;
	z-index: 1;
}
