@import './colors';

.title {
	line-height: clamp(2.5rem, 4vw + 1rem, 65px);

	span {
		&:nth-child(1) {
			color: $color_secondary;
			font-weight: 400;
		}

		&:nth-child(3) {
			color: $color_red;
			font-family: 'Bitter';
			font-weight: bold;
			font-style: italic;
		}
	}
}

.heading {
	line-height: 44px;
	z-index: 1;

	span {
		&:nth-child(1) {
			font-size: 48px;
			color: $color_secondary;

			@media screen and (max-width: 700px) {
				font-size: 30px;
			}
		}

		&:nth-child(3) {
			font-size: 60px;
			font-style: italic;
			color: $color_red;

			@media screen and (max-width: 700px) {
				font-size: 36px;
			}
		}
	}
}

.subheading {
	font-family: Manrope;
	color: $color_grey !important;
	z-index: 100;
}

.nextui-navbar-container {
	background-color: $color_primary_70 !important;
	backdrop-filter: blur(4px) !important;
	-webkit-backdrop-filter: blur(4px) !important;
}
