.title {
	span {
		&:nth-child(1) {
			color: #500E00;
			font-weight: 400;
			font-size: 65px;

			@media screen and (max-width: 700px) {
				font-size: 34px;
			}
		}

		&:nth-child(3) {
			color: #EB2A00;
			font-family: 'Bitter';
			font-weight: bold;
			font-style: italic;
			font-size: 70px;

			@media screen and (max-width: 700px) {
				font-size: 39px;
			}
		}
	}
}

.heading {
	line-height: 44px;
	z-index: 1;

	span {
		&:nth-child(1) {
			font-size: 48px;
			color: #500E00;

			@media screen and (max-width: 700px) {
				font-size: 30px;
			}
		}

		&:nth-child(3) {
			font-size: 60px;
			font-style: italic;
			color: #EB2A00;

			@media screen and (max-width: 700px) {
				font-size: 36px;
			}
		}
	}
}

.subheading {
	font-family: Manrope;
	color: #888888 !important;
	font-size: 32px;
	z-index: 200;

	@media screen and (max-width: 700px) {
		font-size: 24px;
	}
}

.nextui-navbar-container {
	background-color: rgba(255, 205, 169, .7) !important;
	backdrop-filter: blur(4px) !important;
	-webkit-backdrop-filter: blur(4px) !important;
	z-index: 1;
}
