@font-face {
	font-family: 'Bitter';
	src: url('/src/assets/fonts/Bitter-Regular.ttf');
}

@font-face {
	font-family: 'Bitter';
	src: url('/src/assets/fonts/Bitter-Light.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Bitter';
	src: url('/src/assets/fonts/Bitter-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Bitter';
	src: url('/src/assets/fonts/Bitter-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Bitter';
	src: url('/src/assets/fonts/Bitter-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'Bitter';
	src: url('/src/assets/fonts/Bitter-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Manrope';
	src: url('/src/assets/fonts/Manrope-Regular.ttf');
}

* {
	font-family: 'Bitter';
}

html {
	scroll-behavior: smooth;
}

.header {
	position: sticky;
	top: 0;
	z-index: 200;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.5);

	&::before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		filter: blur(20px);
		background: rgba(255, 255, 255, 0.9);
		z-index: 10;
	}

	.open-nav-btn {
		border: none;
		background: none;
		height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		z-index: 50;
		cursor: pointer;

		span {
			display: block;
			height: 4px;
			width: 40px;
			background: #383838;
			border-radius: 5px;

			&:nth-child(1) {
				width: 70%;
			}

			&:nth-child(2) {
				width: 50%;
			}
		}
	}

	.social-media {
		a {
			color: #383838;
		}

		z-index: 50;
	}
}

.menu {
	position: sticky;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 60px;
	height: 10px;
	background: #fff;
	z-index: 500;
	border-top: solid 1px rgba(0, 0, 0, .2);

	&.visible {
		height: calc(100vh - 60px);
	}
}

.close-menu-btn {
	position: absolute;
	left: 40px;
	top: 40px;
	border: none;
	cursor: pointer;
	font-size: 28px;
	background-color: transparent;
	color: #515151;
	padding-left: 0;
}

.nav-menu-container {
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	background: #fff;
	overflow: hidden;
	z-index: 1000;
	transition:
		ease height .3s,
		ease width .3s;

	ul {
		list-style: none;
		margin-top: 200px;
		padding: 0 40px;

		li {
			margin-bottom: 20px;

			a {
				display: block;
				padding: 20px;
				background-color: rgba(0, 0, 0, .1);
				color: #E64848;
				border-radius: 10px;
				display: flex;
				align-items: center;

				span {
					margin-right: 20px;
					font-size: 28px;
				}
			}
		}
	}

	&.open {
		width: 100%;
		height: 100vh;
	}
}

h2 {
	font-family: 'Manrope';
	color: #FFB876 !important;
	font-size: 24px;
	letter-spacing: 6px;
}

.category-selector {
	border: solid 3px #FFCDA9;
	margin-right: 10px;
	margin-bottom: 10px;
	background: transparent;
	color: #500E00;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 28px;
	cursor: pointer;
	position: relative;
	z-index: 10;
	transition:
		ease background .3s,
		ease margin-left .3s,
		ease border .3s
	;

	&.selected {
		background: #FFCDA9;
		margin-left: 10px;

		&::before {
			left: -8px;
			top: 8px;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
			border-radius: 5px;
			border: solid 3px #FFCDA9;
		}
	}
}

.product {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-bottom: solid 3px #FFCDA9;
	padding: 30px 0;
	font-size: 30px;

	.name {
		font-family: 'Bitter';
		color: #500E00;
		font-size: inherit;
	}

	.price {
		font-family: 'Bitter';
		font-weight: bold;
		color: #EB2A00;
		font-size: inherit;
	}
}

footer {
	background: #FFCDA9;

	#social_media_links {
		list-style: none;
		padding: 0;

		li {
			a {
				display: flex;

				p {
					font-family: 'Bitter';
					color: #500E00;
					font-size: 20px;
				}

				span {
					margin-right: 30px;
					color: #EB2A00;
					font-size: 28px;
				}
			}
		}
	}

	#nav_links {
		li {
			a {
				color: #EB2A00;
				font-size: 20px;
			}
		}
	}
}
